<a href="https://colab.research.google.com/github/Aditya17031997/AjayAditya_INFO5731_Spring2022/blob/main/In_class_exercise/In_class_exercise_01_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/25/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [44]:
# write your answer here
str1="String"
count=0
for x in str1:
  count+=1
print(count)

6

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [7]:
# write your answer here
string1="google.com"
for x in string1:
  count=0
  for y in string1:
    if x==y:
      count+=1
  print(x,count)

g 2
o 3
o 3
g 2
l 1
e 1
. 1
c 1
o 3
m 1

(3) Write a Python program to sum all the items in a list. (4 points)

In [10]:
# write your answer here
list1=[1,2,3,4,5,10]
x=0
for y in list1:
  x=y+x
print(x)

25

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [42]:
# write your answer here
def x1(s1):
    char = s1[0]
    s1 = s1.replace (char, '$')
    s1 = char + s1 [1 : ]
    return s1
print(x1('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [12]:
# write your answer here
a=4
b=2
S=3.14*(1+a/b)**3
print(S)

84.78

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [19]:
# write your answer here
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
dict4={**dic1,**dic2,**dic3}
print(dict4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [43]:
# write your answer here
tuple1=(1,2,3,4,5)
e = 2
if e in tuple1:
    print("presents in tuple")
else:
    print("doesn't in tuple")

presents in tuple

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [20]:
# write your answer here
set1={2,3,45,77,909,7}
print("Minimum element is: ",min(set1))
print("Maximum element is: ", max(set1))

Minimum element is:  2
Maximum element is:  909

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [23]:
# write your answer here
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320',
                'fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640',
                'sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
list1=list()
size=5
for x in range(0,len(studnet_list),size):
  list1.append(studnet_list[x:x+size])
print(list1)

[['ja0964', 'sa1198', 'sb1357', 'vb0218', 'sc1229'], ['kg0569', 'kg0470', 'sg1297', 'bg0320', 'fh0141'], ['jl1252', 'sk1386', 'ak0956', 'sk1390', 'sk1458'], ['sk1313', 'ak0934', 'vm0377', 'nm0618', 'sm1640'], ['sm1907', 'gn0108', 'pr0353', 'dr0609', 'ms1500'], ['aos0040', 'ds0814', 'av0659', 'nv0234', 'hy0232']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [39]:
# write your answer here
def s1(number):
  s2 = set()
  val = -1
  for x in range(len(number)):
      if number[x] in s2:
            return number[x]
      else:
            s2.add(number[x])
  return val
print(s1([1, 3, 3, 4, 5]))
print(s1([1, 2,99,99]))
print(s1([1, 2, 3, 4, 5]))

3
99
-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [33]:
from datetime import date, timedelta

def str1(y1):
  y = date(y1, 1, 1)
  y += timedelta(days = 6 - y.weekday())
  while y.year == y1:
    yield y
    y += timedelta(days = 7)
for x in str1(2022):
   print(x)

2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25